pids
_.pid
_.seed
\*.pid.lock
coverage
\*.lcov
build/Release
node_modules/
\*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
\*.tgz
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.temp
.cache
.vscode-test
.dev.vars
.wrangler/
