{
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
	"proseWrap": "never",
	"embeddedLanguageFormatting": "off"
}
